{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Segmentizations</title>
	<!-- CSS only -->
	<script src="https://code.jquery.com/jquery-3.5.1.min.js"
		integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

	<!-- JS, Popper.js, and jQuery -->

	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>

</head>

<body>
	<nav class="navbar navbar-expand-lg bg-dark bg-primary sticky-top">
		<!-- <nav class="navbar navbar-dark bg-dark">  -->
		<div class="container">
			<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
				<ul class="navbar-nav">
					<li {% if '/' == request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
						{% endif %}>
						<a class="nav-link" href="{% url 'index' %}">Home</a>
					</li>

					<li {% if 'search' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
						{% endif %}>
						<a class="nav-link" href="{% url 'search' %}">Search</a>
					</li>

					<li {% if 'directory' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
						{% endif %}>
						<a class="nav-link" href="{% url 'directory' %}">Directory</a>
					</li>

					<li {% if 'admin' in request.path %} class="nav-item active mr-3" {% else %} class="nav-item mr-3"
						{% endif %}>
						<a class="nav-link" href="{% url 'admin:index' %}">Admin Login</a>
					</li>

				</ul>
			</div>
		</div>
	</nav>

	<div class="container">
		<h1>Turtseo Directories</h1>
	</div>
	<form method="POST" id="form">
		<!-- {% csrf_token %} -->
		<div class="container form-group">
			<div class="form-group row pt-5">
				<label for="" class="col-sm-2 col-form-label">Create New Directory </label>
				<div class="col-sm-6">
					<input type="text" class="form-control" id="dirname" value="" required placeholder="My Site">
				</div>
				<div class="form-group col-sm-4">
					<input type="submit" id="createdir" class="btn btn-primary" value="Create Directory">
				</div>
			</div>
		</div>
	</form>
	<hr>
	<form method="POST" id="form-2">
		<div class="container form-group">
			<div class="form-group row pt-5">
				<div class="col-sm-8">
					<input type="text" name="" placeholder="Search Directory" class="form-control" id="searchdir">
				</div>
				<div class="col-sm-2">
					<input id="search" type="submit" name="" value="Search" class="btn-primary form-control">
				</div>
			</div>
			<div class="row pt-3 pb-2  pl-3">
				<input type="submit" name="" value="Refresh" class="btn btn-warning" id="refresh">
			</div>
			<div class="row">
				<div class="col-sm-6 pt-3">
					<h4 id="setdir">Directory Name:</h4> <!-- use javascript inner.html  -->
					<h4>Linked: </h4>
					<ol>
						<div id="delete_list"></div>						
					</ol>					
					<hr>
					<h4>Directory List:</h4>
					<div class="" id="wholelist_dir"></div>
				</div>
				<div class="col-sm-6 pt-5" id="add_list">
					<div class="row">
						<div class="col-sm-6">
							<input id="search_key_text" type="text" name="" class="form-control"
								placeholder="Search key link">
						</div>
						<div class="col-sm-3">
							<input id="search_key" type="submit" class="form-control btn btn-primary" value="search">
						</div>
					</div>
					<div class="" id="wholelist"></div>
				</div>			
			</div>
	</form>

</body>
{% block script %}
<script src="{% static 'PapaParse/papaparse.min.js' %}"></script>
<script>

	$(document).ready(function (e) {

		// Initial Loading all Key Link in HTML
		$("#search_key").hide();
		$("#refresh").hide();


		var searchFoundDir = "";

		// Add link from guestpostlinkdir

		function addLinkToDirectoy( guestlink ){
			$.ajax({
				type: 'POST',
				url : '/directory',
				data: {
					'btnpressed': "addlinktodir",
					'url' : guestlink,
					'dirname' : searchFoundDir
				},
				success: function(data){
					alert("Link added to directory");
					$("#refresh").click()
				},
				error: function(data){
					alert("Link Adding failed")
				}

			});
		}


		// Initial Loads of all key_link
		$.ajax({
			type: 'POST',
			url: '/directory',
			data: {
				'btnpressed': "initial"
			},
			success: function (data) {
				var dataset = JSON.parse(data['dataset']);
				// console.log("ADD Data", dataset);

				for (var i = 0; i < dataset.length; i++) {
					var addLink = '<div class="row pt-2 pl-2" id="rowid_'+i+'">'
						+	'<div class="col-sm-6">'
						+ '<a id="addlink_'+ i +'" href="#"> '+ dataset[i].pk + '</a>'
						+  '</div>' 
						+ 	'<div class="col-sm-6">'
						+		'<input type="submit" name="" id="guestadd_'+ i +'" value="Add Link" class="btn btn-light p-">'
						+ 	'</div>'
						+ '</div>'
					$('#wholelist').append(addLink);
					loadAllDir();
				}

				// Send hits to background to a link 
				$("[id*='guestadd_']").click(function (e) {
						e.preventDefault();						
						var number = $(this).attr('id').split('_').pop();
						var src = $('#addlink_' + number).text();

						if (src == "") {
							alert("Couldn't grab the link");
							return false;
						}
						
						if($("#searchdir").val() ) {
							addLinkToDirectoy(src);
						}
						else{
							alert("First select a Directory");
						}

					});
			},
			error: function () {
				alert("No Key Link Found!!");
			}
		})



		//Delete a directory
		function delDirectoy( dir ){			
				$.ajax({
					type: 'POST',
					url : '/directory',
					data: {
						'btnpressed': "del_dir",						
						'dirname' : dir
					},
					success: function(data){
						alert("Directory Deleted");
						// $("#refresh").click();
						$("#wholelist_dir div").empty();
						// $("#refresh").click()
						loadAllDir()

					},
					error: function(data){
						alert("Directory Deleting Failed")
					}
				});
			}


		// Initial Loads of all Directory		
		function loadAllDir(){
				$.ajax({
				type: 'POST',
				url: '/directory',
				data: {
					'btnpressed': "initial_dir"
				},
				success: function (data) {
					var dataset = JSON.parse(data['dataset']);
					console.log("Dir Data", dataset);

					for (var i = 0; i < dataset.length; i++) {					
						var dltDir = '<div class="row pt-2 pl-2" id="rwid_'+i+'">'
							+	'<div class="col-sm-6">'
							+ '<a id="dltDir_'+ i +'" href="#"> '+ dataset[i].pk + '</a>'
							+  '</div>' 
							+ 	'<div class="col-sm-6">'
							+		'<input type="submit" name="" id="dlt_'+ i +'" value="Delete Directory" class="btn btn-danger p-">'
							+ 	'</div>'
							+ '</div>'
						$('#wholelist_dir').append(dltDir);
					}								

					$("[id*='dlt_']").click(function (e) {
							e.preventDefault();

							
							var number = $(this).attr('id').split('_').pop();
							var src = $('#dltDir_' + number).text();
							console.log(src);

							if (src == "") {
								alert("Couldn't grab the link");
								return false;
							}
							
							delDirectoy(src);
						});

				},
				error: function () {
					alert("No Directoy Found!");
				}
			})	
		}	





		// Create Directory
		$("#createdir").click(function (e) {
			e.preventDefault();

			if ($('#dirname').val() === "") {
				alert("Directory Name can't be Empty")
			}
			else {
				$.ajax({
					type: 'POST',
					url: '/directory',
					data: {
						'dirname': $('#dirname').val(),
						'btnpressed': "createdir"
					},
					success: function (e) {
						alert("Directory Created Successfully");
						$('#form')[0].reset();
						$("#wholelist_dir div").empty();
						// $("#refresh").click()
						loadAllDir()
					},
					error: function () {
						alert("Sorry, Duplicate Directory exists");
					}
				});
			}
		});



		// delete key_link from directory
		function delLinkToDirectoy( guestlink ){
				$.ajax({
					type: 'POST',
					url : '/directory',
					data: {
						'btnpressed': "delLinktodir",
						'url' : guestlink,
						'dirname' : searchFoundDir
					},
					success: function(data){
						alert("Link Deleted from directory");
						$("#refresh").click();

					},
					error: function(data){
						alert("Link Deleting Failed")
					}
				});
			}


		//search a directory with key_link & delete key_link from directory
		function genDirLink(){
			$.ajax({
				type: 'POST',
				url: '/directory',
				data: {
					'searchdir': $('#searchdir').val(),
					'btnpressed': "search"
				},
				success: function (data) {
					var dataset = JSON.parse(data['dataset']);
					//console.log(dataset);
					searchFoundDir = $('#searchdir').val();

					$('#setdir').text("Directory Name: " + $('#searchdir').val())
					$("[id*='rowiddir_']").remove();

					for (var i = 0; i < dataset.length; i++) {
						// var str = "<li><div class=" + '"row pl-3"' + " id=" + '"linkedid_ '+i+'" '+"><p id=" + '"linkedp_"' + ">" + dataset[i].fields.key_link + "</p><a style="
						// 	+ '"padding-left: 50px;"' + " href=" + '"#"' + " id=" + '"linkeddel_"' + ">Delete Link</a>";
						var addLink = '<div class="row pt-2 pl-2" id="rowiddir_'+i+'">'
						+	'<div class="col-sm-6">'
						+  (i+1) + '. <a id="linkedid_'+ i +'" href="#"> '+ dataset[i].fields.key_link + '</a>'
						+  '</div>' 
						+ 	'<div class="col-sm-6">'
						+		'<input type="submit" name="" id="linkeddel_'+ i +'" value="Delete" class="btn btn-danger p-">'
						+ 	'</div>'
						+ '</div>'


						$('#delete_list').append(addLink);
					}

					$("[id*='linkeddel_']").click(function (e) {
						e.preventDefault();

						
						var number = $(this).attr('id').split('_').pop(); //Geting the number for upload episode
						var src = $('#linkedid_' + number).text();
						console.log(src);

						if (src == "") {
							alert("Couldn't grab the link");
							return false;
						}
						
						delLinkToDirectoy(src);
					});
				},
				error: function () {
					alert("Directory Not Found!");
				}
			})
		}

		$("#search").click(function (e) {
			e.preventDefault();
			genDirLink();
			
		})


		// Refresh Current Directory
		$("#refresh").click(function (e) {
			e.preventDefault();
			genDirLink();
			// loadAllDir();
			
		})
		
		// Search a key_link via typing
		function sendHit( query ){
			$('#wholelist').toggle();
			console.log( query )
			$.ajax({
				type: 'POST',
				url: '/directory',
				data: {
					'search' : query+"",
					'btnpressed' : "search_key"
				},
				success: function(data){
					$("[id*='rowid_']").remove();
					var dataset = JSON.parse(data['dataset']);
					// console.log("Found", dataset);
					for (var i = 0; i < dataset.length; i++) {
						var addLink = '<div class="row pt-2 pl-2" id="rowid_'+i+'">'
						+	'<div class="col-sm-6">'
						+ '<a id="addlink_'+ i +'" href="#"> '+ dataset[i].pk + '</a>'
						+  '</div>' 
						+ 	'<div class="col-sm-6">'
						+		'<input type="submit" id="guestadd_'+ i +'" value="Add Link" class="btn btn-light p-">'
						+ 	'</div>'
						+ '</div>'
					$('#wholelist').append(addLink);

					}

					$("[id*='guestadd_']").click(function (e) {
						e.preventDefault();

						// console.log("ABCD");
						var number = $(this).attr('id').split('_').pop(); //Geting the number for upload episode
						var src = $('#addlink_' + number).text();
						// alert(src)

						if (src == "") {
							alert("Couldn't grab the link");
							return false;
						}

						if($("#searchdir").val() ) {
							addLinkToDirectoy(src);
						}
						else{
							alert("First select a Directory");
						}

					});
				},
				error: function () {
					alert("No Key Link Found!");
				}
				

			})
		}


		$('#search_key_text').on("input", function(){
			var query = $("#search_key_text").val();

			if( query ){
				sendHit(query);	
			}

		});

	});

</script>
{% endblock %}

</html>